$colorPrimary50: #F0F5F2;
$colorPrimary100: #E1EAE5;
$colorPrimary200: #C2D6CB;
$colorPrimary300: #A4C1B1;
$colorPrimary400: #85AD96;
$colorPrimary500: #5C886F;
$colorPrimary600: #527A63;
$colorPrimary800: #293D32;
$colorPrimary900: #151E19;
$colorSecondary100: #EFE7DC;
$colorSecondary200: #DFCFB9;
$colorSecondary300: #CFB796;
$colorSecondary400: #BF9F73;
$colorSecondary800: #463620;
$colorNeutral100: #E1E7EA;
$colorNeutral200: #C3CFD5;
$colorNeutral300: #A5B8C0;
$colorNeutral400: #86A0AC;
$colorNeutral500: #242F34;