.color-row {
  grid-template-columns: 1fr 2fr 2fr 2fr 3fr 1fr 2fr;
}

.color-block,
.good-block,
.detailimage-block,
.customergroup-block,
.customer-block,
.manager-block,
.pattern-block,
{
  max-width: 1600px;
  grid-column: 1 / 5;
}

.materialtype-row,
.fedregion-row,
.printplace-row,
.printposition-row,
.typegroup-row,
{
  grid-template-columns: 3fr 1fr;
}

.materialtype-block,
.fedregion-block,
.printplace-block,
.printposition-block,
.printtype-block,
.goodsimagesset-block,
.colorscheme-block,
.regiontofedregion-block,
.typegroup-block,
.customertype-block,
.ourcompany-block,
.pantonetohex-block,
.maketpattern-block,
{
  max-width: 800px;
  grid-column: span 2;
}

.goodsimagesset-row,
.colorscheme-row,
.regiontofedregion-row,
.pantonetohex-row,
.maketpattern-row,
.printtype-row,
{
  grid-template-columns: 2fr 2fr 1fr;
}

.customertype-row {
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
}

.manager-row,
{
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
}

.good-row,
{
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr 1fr;
}

.detailimage-row{
  grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr;
}

.customergroup-row{
  grid-template-columns: repeat(4, 2fr) 1fr 2fr 1fr;
}

.customer-row{
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr 2fr 2fr 1fr 2fr 2fr 2fr 1fr;
}

.ourcompany-row,
{
  grid-template-columns: 1fr 4fr 1fr;
}

.pattern-row{
  grid-template-columns: 4fr 4fr 8fr 2fr 2fr;
}

.additional-files{
  grid-template-columns: repeat(4, 2fr) 1fr;
}

.pattern-files{
  grid-template-columns: 2fr 3fr 0.6fr 1fr 1fr;
}
//&__2 {
//  max-width: 800px;
//  grid-column: span 2;
//}
//
//&__3 {
//  max-width: 1200px;
//  grid-column: 1 / 4;
//}
//
//&__4 {
//  max-width: 1600px;
//  grid-column: 1 / 5;
//}
//
//&__5 {
//  max-width: 1600px;
//  grid-column: 1 / 6;
//}

