.color-row {
  grid-template-columns: 1fr 2fr 2fr 2fr 3fr 1fr 2fr;
}

.color-block,
.good-block,
.detailitem-block,
.detailimage-block,
.customergroup-block,
.customer-block,
.manager-block,
{
  max-width: 1600px;
  grid-column: 1 / 5;
}

.materialtype-row,
.fedregion-row,
.printplace-row,
.printposition-row,
.printtype-row,
.typegroup-row,
.detailtype-row,
{
  grid-template-columns: 3fr 1fr;
}

.materialtype-block,
.fedregion-block,
.printplace-block,
.printposition-block,
.printtype-block,
.detailimagesset-block,
.colorscheme-block,
.regiontofedregion-block,
.typegroup-block,
.customertype-block,
.detailtype-block,
.ourcompany-block,
.pattern-block,
{
  max-width: 800px;
  grid-column: span 2;
}

.detailimagesset-row,
.colorscheme-row,
.regiontofedregion-row,
{
  grid-template-columns: 2fr 2fr 1fr;
}

.customertype-row {
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
}

.good-row,
.manager-row,
{
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
}

.detailitem-row{
  grid-template-columns: repeat(4, 2fr) repeat(5, 1fr) ;
}

.detailimage-row{
  grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr;
}

.customergroup-row{
  grid-template-columns: repeat(4, 2fr) 1fr 2fr 1fr;
}

.customer-row{
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr 2fr 2fr 1fr 2fr 2fr 2fr 1fr;
}

.ourcompany-row,
{
  grid-template-columns: 1fr 4fr 1fr;
}

.pattern-row{
  grid-template-columns: 2fr  2fr 2.5fr 1fr; ;
}


//&__2 {
//  max-width: 800px;
//  grid-column: span 2;
//}
//
//&__3 {
//  max-width: 1200px;
//  grid-column: 1 / 4;
//}
//
//&__4 {
//  max-width: 1600px;
//  grid-column: 1 / 5;
//}
//
//&__5 {
//  max-width: 1600px;
//  grid-column: 1 / 6;
//}

